/* google font link */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(243, 216, 214);
}
.body-color {
  margin-top: 20px;
  margin-bottom: 30px;
}
.shop {
  color: indigo;
  font-size: 50px;
}
.button {
  margin-left: 110px;
}
